@using eShopTruongSport.ViewModels.Common;
@model PagedResult<eShopTruongSport.ViewModels.Catalog.Categories.CategoryVm>

@{
    ViewData["Title"] = "List Category";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script>
        setTimeout(function (){
        $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">List Categories</h1>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <a class="btn btn-success" asp-action="Create" asp-controller="Category">Create Category</a>
        </div>
        <div class="col-md-6 col-xs-12">
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" asp-action="Index" asp-controller="Category" method="get">
                <div class="input-group">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" name="Keyword" value="@ViewBag.Keyword" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                        </div>
                        <div class="cold-md-3" style="margin-left : 120px">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                                <button style="margin-left:10px;" class="btn btn-primary" onclick="window.location.href= '/Category/Index'" type="submit">
                                    Reset
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-body">
            <div class="row">
                @if (ViewBag.SuccessMsg != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.SuccessMsg
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Tên
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>
